attrs
Automat==25.4.16
cffi==1.17.1
constantly==23.10.4
cryptography==45.0.5
distro==1.9.0
drozer==3.1.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
protobuf==6.31.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pyOpenSSL==25.1.0
PyYAML==6.0.2
service-identity==24.2.0
setuptools==80.9.0
Twisted==25.5.0
typing_extensions==4.14.1
zope.interface==7.2
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.2

flask
flask_sqlalchemy
flask_login
werkzeug
